In [1]:
import os
import sys
sys.path.append(os.path.abspath(os.path.join('../scripts')))
from ndarray import wav_to_ndarray_to_s3 as wdd

In [2]:
DATASET_PATH = "/mnt/10ac-batch-4/all-data/benkart/AMHARIC/test/"

In [3]:
a = wdd.load_data(DATASET_PATH)

Loading the audio files

In [4]:
a

['/mnt/10ac-batch-4/all-data/benkart/AMHARIC/test/wav/01_d501021.wav',
 '/mnt/10ac-batch-4/all-data/benkart/AMHARIC/test/wav/01_d501022.wav',
 '/mnt/10ac-batch-4/all-data/benkart/AMHARIC/test/wav/01_d501023.wav',
 '/mnt/10ac-batch-4/all-data/benkart/AMHARIC/test/wav/01_d501024.wav',
 '/mnt/10ac-batch-4/all-data/benkart/AMHARIC/test/wav/01_d501025.wav',
 '/mnt/10ac-batch-4/all-data/benkart/AMHARIC/test/wav/01_d501026.wav',
 '/mnt/10ac-batch-4/all-data/benkart/AMHARIC/test/wav/01_d501027.wav',
 '/mnt/10ac-batch-4/all-data/benkart/AMHARIC/test/wav/01_d501028.wav',
 '/mnt/10ac-batch-4/all-data/benkart/AMHARIC/test/wav/01_d501029.wav',
 '/mnt/10ac-batch-4/all-data/benkart/AMHARIC/test/wav/01_d501030.wav']

In [5]:
b = wdd.convert_to_ndarray(DATASET_PATH)

In [6]:
b

[(16000, array([-2136, -2136, -2100, ..., -2676, -2688, -2760], dtype=int16)),
 (16000, array([-3380, -3280, -3360, ..., -2900, -2880, -2920], dtype=int16)),
 (16000, array([-2160, -2124, -2124, ..., -2028, -2064, -2076], dtype=int16)),
 (16000, array([    0,     0,     0, ..., -2064, -2040, -2040], dtype=int16)),
 (16000, array([    0,     0,     0, ..., -1788, -1812, -1824], dtype=int16)),
 (16000, array([-2256, -2280, -2280, ..., -2196, -2220, -2196], dtype=int16)),
 (16000, array([-1884, -1872, -1884, ..., -1896, -1872, -1884], dtype=int16)),
 (48000, array([], dtype=int16)),
 (16000, array([-2052, -2016, -2124, ..., -1704, -1680, -1668], dtype=int16)),
 (16000, array([-1716, -1692, -1704, ..., -1812, -1800, -1872], dtype=int16))]

In [7]:
import pandas as pd
d = {'PATH':a,'NDARRAY':b}
df = pd.DataFrame(d)
df.to_csv('ndarray2.csv')

In [8]:
df

,PATH,NDARRAY
0,/mnt/10ac-batch-4/all-data/benkart/AMHARIC/tes...,"(16000, [-2136, -2136, -2100, -2124, -2076, -2..."
1,/mnt/10ac-batch-4/all-data/benkart/AMHARIC/tes...,"(16000, [-3380, -3280, -3360, -3320, -3320, -3..."
2,/mnt/10ac-batch-4/all-data/benkart/AMHARIC/tes...,"(16000, [-2160, -2124, -2124, -2148, -2124, -2..."
3,/mnt/10ac-batch-4/all-data/benkart/AMHARIC/tes...,"(16000, [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0..."
4,/mnt/10ac-batch-4/all-data/benkart/AMHARIC/tes...,"(16000, [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0..."
5,/mnt/10ac-batch-4/all-data/benkart/AMHARIC/tes...,"(16000, [-2256, -2280, -2280, -2244, -2220, -2..."
6,/mnt/10ac-batch-4/all-data/benkart/AMHARIC/tes...,"(16000, [-1884, -1872, -1884, -1884, -1848, -1..."
7,/mnt/10ac-batch-4/all-data/benkart/AMHARIC/tes...,"(48000, [])"
8,/mnt/10ac-batch-4/all-data/benkart/AMHARIC/tes...,"(16000, [-2052, -2016, -2124, -2076, -2004, -2..."
9,/mnt/10ac-batch-4/all-data/benkart/AMHARIC/tes...,"(16000, [-1716, -1692, -1704, -1716, -1704, -1..."

In [9]:
wdd.upload_ndarray('ndarray2.csv', 'benkart-bucket')

True