In [1]:

import boto3
import pandas as pd


def load_data_s3(bucket_name='10academy-group2-bucket', file_name='Clean_Amharic.txt'):
    """ Load transcription data from s3 bucket"""
    s3 = boto3.resource(
        service_name='s3',
        region_name='us-east-1'
    )
    # Load file directly into python
    obj = s3.Bucket(bucket_name).Object(file_name).get()
    df = pd.read_csv(obj['Body'])
    return df

In [2]:
df = load_data_s3()

In [3]:
df.columns = df.columns.str.replace("(","")

/tmp/ipykernel_23793/2957662750.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df.columns = df.columns.str.replace("(","")

In [4]:
df.columns = df.columns.str.replace(")","")

/tmp/ipykernel_23793/3159307853.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df.columns = df.columns.str.replace(")","")

In [5]:
df.columns = df.columns.str.replace("ብርሀን ፈይሳየኢትዮጵያ ቦክስ ፌዴሬሽን በየአመቱ የሚያዘጋጀው የክለቦች ቻምፒዮና በአዲስ አበባ ከተማ በመካሄድ ላይ ይገኛል sentence 1","sentence")

In [7]:
df

                                                 sentence
0        የተሻለ ብቃት ያሳዩ ቦክሰኞች ለቶኪዮ ኦሊምፒክ ማጣሪያ ተሳታፊ እንደሚሆ...
1       በቦክስ ስፖርት ከሚካሄዱት አመታዊ ቻምፒዮናዎች መካከል አንዱ በክለቦች መ...
2        የኢትዮጵያ ቦክስ ፌዴሬሽን ከአዲስ አበባ ቦክስ ፌዴሬሽን ጋር በመተባበር...
3        በውድድሩም ላይ አምስት ክለቦች ከአዲስ አበባ ፌዴራልፖሊስ ፌዴራል ማረሚ...
4        በአጠቃላይ ክለቦቻቸውን ወክለውም 12 ሴትና 76 ወንድ ቦክሰኞች በጥቅሉ...
...                                                   ...
662353  የ2011 በጀት አመት የውጭ ዲሎማሲያዊ ተግባራት ስኬታማ እንደነበሩ ተገለ...
662354  አቶ አገኘሁ ተሻገር የሰላም ግንባታና የህዝብ ደህንነት ሀላፊ ሆነው ተሾሙ...
662355  የአማራ ክልል ምክር ቤት የ230 ዳኞችን ሹመት አፀደቀ (sentence 6...
662356  ሀምሌ 22 ለሚካሄደው የችግኝ ተከላ መርሀግብር 54 ሚሊየን ብር ተመድቧል...
662357  ለህግ የበላይነት መከበር ሁሉም በጋራ መስራት እንዳለበት ተጠቆመ (sent...

[662358 rows x 1 columns]

In [8]:
from pyspark.sql import SparkSession
#Create PySpark SparkSession
spark = SparkSession.builder \
    .master("local[1]") \
    .appName("Spark_reading_s3") \
    .getOrCreate()
#Create PySpark DataFrame from Pandas
sparkDF=spark.createDataFrame(df) 
sparkDF.printSchema()
sparkDF.show()

21/09/13 18:30:20 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

root
 |-- sentence: string (nullable = true)

21/09/13 18:31:11 WARN TaskSetManager: Stage 0 contains a task of very large size (184644 KiB). The maximum recommended task size is 1000 KiB.

+--------------------+
|            sentence|
+--------------------+
| የተሻለ ብቃት ያሳዩ ቦክሰ...|
|በቦክስ ስፖርት ከሚካሄዱት ...|
| የኢትዮጵያ ቦክስ ፌዴሬሽን...|
| በውድድሩም ላይ አምስት ክ...|
| በአጠቃላይ ክለቦቻቸውን ወ...|
| ውድድሩ የሚካሄደው በራስ ...|
| የቦክስ ስፖርት ከንክኪ ስ...|
| በመሆኑም በዚህ ረገድ ውድ...|
| ይኸውም ተወዳዳሪዎችና አሰ...|
| ከዚህ ባሻገር ውድድር የሚ...|
| ኮቪድ 19 አለም አቀፍ ወ...|
| ከእነዚህ ውድድሮች መካከል...|
| ውድድሮች ወደ እንቅስቃሴ ...|
| ኢትዮጵያም በዚህ ቻምፒዮና...|
| ቻምፒዮናው አራት ዙሮች ያ...|
| ቻምፒዮናው ጥር 42013 ...|
| የአዲስ ዘመን ጋዜጣ ቀደም...|
|እኛም ከእነዚህ ዘገባዎች ጋ...|
| በዛሬው የአዲስ ዘመን ዱሮ...|
| ማገጃ ምልክት ይሰጠውማንኛ...|
+--------------------+
only showing top 20 rows